<div class="flex flex-col w-full h-full">
    <!-- Header -->
    <app-details-header (onClose)="onClickDelete()"
                        [showIcon]="false"
                        [showImage]="false"
                        editLabel="Ver Detalhes"
                        [viewMode]="false"></app-details-header>

    <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
        <div class="w-full max-w-3xl">
            <div class="flex flex-col mt-4 space-y-8">
                <div class="text-2xl font-bold truncate border-b w-full">
                    Edição de Histórico - Texto Livre
                </div>

                <form [formGroup]="form">
                    <div class="mt-1 mr-2 w-full">
                        <mat-form-field
                            class="w-full">
                            <mat-label>Titulo</mat-label>
                            <input formControlName="freeTextTitle"
                                   matInput>
                        </mat-form-field>
                    </div>

                    <div class="mt-3 mr-2 w-full">
                        <mat-form-field class="w-full">
                            <mat-label>Data Protocolo</mat-label>
                            <input [matDatepicker]="picker" formControlName="protocolDate" matInput>
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="mt-3 mr-2 w-full">
                        <mat-form-field
                            class="w-full">
                            <mat-label>Texto Complementar</mat-label>
                            <textarea [spellcheck]="false"
                                      formControlName="freeText"
                                      matInput
                                      style="height: 36px">
                            </textarea>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <app-actions-form (cancel)="onClickCancel()"
                      (delete)="onClickDelete()"
                      (save)="onclickSave()"
                      [saveDisabled]="form.invalid"
                      [showRemoveButton]="true"></app-actions-form>
</div>
