<div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
    <div class="w-full max-w-3xl">
        <div class="mt-3 text-4xl font-bold truncate">
            {{customer?.nome | titlecase}}
        </div>

        <div *ngIf="companiesUnderResponsibility?.length > 0" class="flex flex-wrap items-center mt-2">
            <div *ngFor="let company of companiesUnderResponsibility"
                 class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                <span (click)="onClickResponsible(company, CustomerType.PJ)"
                      class="text-sm font-medium whitespace-nowrap cursor-pointer">
                    {{ getCompanyName(company) | titlecase}}
                </span>
            </div>
        </div>

        <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
            <ng-container *ngIf="shouldShow(customer?.cpf) || customer?.rg">
                <div class="flex sm:items-center">
                    <mat-icon svgIcon="heroicons_outline:identification"></mat-icon>
                    <div class="d-flex">
                        <p *ngIf="customer?.cpf" class="ml-6 leading-6">{{customer?.cpf | cpf}} • CPF</p>
                        <p *ngIf="shouldShow(customer?.rg)" class="ml-6 leading-6">{{customer?.rg}} • RG</p>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="shouldShow(customer?.profissao)">
                <div class="flex sm:items-center">
                    <mat-icon svgIcon="feather:briefcase"></mat-icon>
                    <div class="ml-6 leading-6">{{customer?.profissao | titlecase}}</div>
                </div>
            </ng-container>

            <ng-container *ngIf="shouldShow(maritalStatus?.name)">
                <div class="flex sm:items-center">
                    <mat-icon svgIcon="heroicons_mini:user"></mat-icon>
                    <div class="ml-6 leading-6">{{maritalStatus?.name | titlecase}}</div>
                </div>
            </ng-container>

            <ng-container *ngIf="emails && emails.length > 0">
                <div class="flex sm:items-center">
                    <mat-icon svgIcon="mat_outline:alternate_email"></mat-icon>
                    <div class="d-flex">
                        <p *ngFor="let email of emails"
                           class="ml-6 leading-6">
                            {{email?.description}} • {{contactTypeById?.get(email?.contactTypeId)?.description}}
                        </p>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="phoneNumbers && phoneNumbers.length > 0">
                <div class="flex sm:items-center">
                    <mat-icon svgIcon="mat_outline:phone"></mat-icon>
                    <div class="d-flex">
                        <p *ngFor="let phoneNumber of phoneNumbers"
                           class="ml-6 leading-6">
                            {{phoneNumber.description | telefone}}
                            • {{contactTypeById?.get(phoneNumber?.contactTypeId)?.description}}
                        </p>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="shouldShow(customer?.person?.endereco) && shouldShow(customer?.person?.numero)">
                <div class="flex sm:items-center">
                    <mat-icon svgIcon="mat_outline:location_on"></mat-icon>
                    <div class="ml-6 leading-6">
                        {{customer?.person?.endereco | titlecase}},
                        {{customer?.person?.numero | titlecase}},

                        <span *ngIf="hasAddressDetailsToShow()">
                            {{ buildAddressDetails () }}
                        </span>

                        <span *ngIf="city">
                            • {{ city?.nome | titlecase }}, {{ state?.nome | titlecase }},
                            {{ country?.nome | titlecase }}
                        </span>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="customer?.datanascimento">
                <div class="flex sm:items-center">
                    <mat-icon svgIcon="mat_outline:cake"></mat-icon>
                    <div class="ml-6 leading-6">{{customer?.datanascimento | date : 'dd/MM/YYYY' }}</div>
                </div>
            </ng-container>

            <ng-container *ngIf="shouldShow(customer?.nacionalidade)">
                <div class="flex sm:items-center">
                    <mat-icon svgIcon="mat_outline:star"></mat-icon>
                    <div class="ml-6 leading-6">{{customer?.nacionalidade | titlecase}}</div>
                </div>
            </ng-container>

            <ng-container *ngIf="customer?.customerCompany?.length > 0">
                <div class="flex sm:items-start">
                    <mat-icon [svgIcon]="'heroicons_outline:building-office'"></mat-icon>
                    <div class="d-flex">
                        <p *ngFor="let company of customer?.customerCompany" class="ml-6 leading-6">
                            {{ company?.company?.razaosocial | titlecase }}
                            <span *ngIf="company?.position">
                                • {{ company?.position?.nome | titlecase }}
                            </span>
                        </p>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
