<div
    [matMenuTriggerFor]="projectsMenu"
    class="selector relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-gray-50 dark:bg-black dark:bg-opacity-5"
    matRipple>
    <div class="flex items-center">
        <div class="overflow-hidden">
            <div class="font-medium leading-6 truncate">
                {{selected?.nome}}
            </div>
        </div>
        <div class="flex items-center justify-center pl-2">
            <mat-icon
                [svgIcon]="'heroicons_solid:chevron-down'"
                class="icon-size-5"></mat-icon>
        </div>
    </div>
    <mat-menu
        #projectsMenu="matMenu"
        [xPosition]="'before'">
        <ng-container *ngFor="let collaborator of collaborators">
            <button
                (click)="onClickCollaborator(collaborator)"
                mat-menu-item>
                {{collaborator.nome}}
            </button>
        </ng-container>
    </mat-menu>
</div>
